/* Global Styles */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Color Customization */
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  }
  
  /* Container Styles */
  .container-fluid {
    padding-right: 16px;
    padding-left: 16px;
  }
  
  @media (min-width: 576px) {
    .container-fluid {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  
  @media (min-width: 768px) {
    .container-fluid {
      padding-right: 70px;
      padding-left: 70px;
    }
  }
  
  @media (min-width: 992px) {
    .container-fluid {
      padding-right: 100px;
      padding-left: 100px;
    }
  }
  
  @media (min-width: 1200px) {
    .container-fluid {
      padding-right: 100px;
      padding-left: 100px;
    }
  }
  
  @media (min-width: 1400px) {
    .container-xxl {
      max-width: 1420px;
    }
  }
  
  /* Padding Utilities */
  .p-0 {
    padding: 0;
  }
  
  .pt-1 {
    padding-top: 0.063rem;
  }
  
  .pb-1 {
    padding-bottom: 0.063rem;
  }
  
  .pt-2 {
    padding-top: 0.125rem;
  }
  
  .pb-2 {
    padding-bottom: 0.125rem;
  }
  
  .pt-3 {
    padding-top: 0.188rem;
  }
  
  .pb-3 {
    padding-bottom: 0.188rem;
  }
  
  /* Add more padding utilities as needed */
  
  /* Margin Utilities */
  .m-1 {
    margin: 0.063rem;
  }
  
  .mt-1 {
    margin-top: 0.063rem;
  }
  
  .mb-1 {
    margin-bottom: 0.063rem;
  }
  
  .mt-2 {
    margin-top: 0.125rem;
  }
  
  .mb-2 {
    margin-bottom: 0.125rem;
  }
  
  .mt-3 {
    margin-top: 0.188rem;
  }
  
  .mb-3 {
    margin-bottom: 0.188rem;
  }
  
  /* Add more margin utilities as needed */
  
  /* Font Size Utilities */
  .text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }
  
  .text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  
  .text-xl {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  
  .text-2xl {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }
  
  .text-3xl {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  
  .text-4xl {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  
  .text-5xl {
    font-size: 2.625rem;
    line-height: 2.5rem;
  }
  
  /* Add more font size utilities as needed */
  
  /* Font Weight Utilities */
  .font-light {
    font-weight: 300;
  }
  
  .font-normal {
    font-weight: 400;
  }
  
  .font-medium {
    font-weight: 500;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  /* Add more font weight utilities as needed */
  
  /* Color Palette Utilities */
  .text-primary {
    color: #0C145A;
  }
  
  .text-secondary {
    color: #7E8CAC;
  }
  
  .text-tertiary {
    color: #CCD0DD;
  }
  
  .text-accent {
    color: #4D17E2;
  }
  
  /* Add more color palette utilities as needed */
  